@import 'common.css';

:root {
    --darkMaincolor: #50fa7b;
}

body {
    color: white;
    background-color: #202124;
}

pre {
    background-color: #272822;
}

code {
    background-color: lightblue;
    color: black;
    font-style: italic;
    font-weight: 500;
    font-family: 'IBM Plex Mono', 'Roboto Mono', monospace;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    color: var(--darkMaincolor);
}

/* Add other dark-theme specific styles here */